
<div>
  <form #flogin="ngForm" (ngSubmit)="login()" >
    <label for="usuario">Usuario:</label>
    <input
      id="usuario"
      type="text"
      name="usuario"
      [(ngModel)]="usuario"
      #usuarioCtrl="ngModel"
      required
      minlength="3"
    />


    <label for="password">Contraseña:</label>
    <input
      id="password"
      type="password"
      name="password"
      [(ngModel)]="password"
      #passwordCtrl="ngModel"
      required
    />


    <button type="submit" [disabled]="flogin.invalid">Validar</button>
  </form>
</div>

<div>
  {{ mensaje }}
</div>
